.banniere {
    background-color: white;
    padding: 3px;
    color: #538397;
    border-bottom: solid 1px #538397;
    display: flex;
	flex-direction: row;
	align-items: center;
}

.img_logo{
    text-align: left;
    width: 120px;
    height: 70px;
}

.titre{
    text-align: center;
    padding-left: 32px;
}